table {
  width: 100%;
}
table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
  /*border-spacing: 2px; borde espaciado*/
  padding: 5px;
}
caption {
  color: #e63946;
  font-family: "Trocchi", serif;
  font-size: 45px;
  line-height: 70px;
}
th {
  color: #f1faee;
  background-color: #1d3557;
}

tr:nth-child(even) {
  background-color: #f1faee;
}
tr:nth-child(odd) {
  background-color: #a8dadc;
}

/*
tr:nth-child(even) para renglones pares
             (odd) para impares

*/
